/*tipografiaz*/
/*font-family: 'Poppins', sans-serif;*/
/*colores*/
/*includs*/
.miNav {
  width: 100%;
  margin: 0;
  margin-left: -3%;
}

.linav1 {
  padding: 0 15px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

.linav1 a p {
  color: #285083;
}

.button {
  padding: 3px 40px;
  margin-top: -5px;
  background: #fde005;
  border: none;
  border-radius: 6px;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

.donar {
  color: #285083;
}

@media (max-width: 720px) {
  .linav1 {
    font-size: 9px;
    padding: 10px 4px 0 2px;
  }

  .button {
    font-size: 10px;
    padding: 1px 6px;
  }
}
@media (min-width: 721px) {
  .linav1 a p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-style: bold;
  }

  .button {
    font-size: 14px;
    padding: 3 25px;
  }
}
header {
  background: #dfe9f3;
  width: 100%;
  box-shadow: 0 1px 8px 0 #999;
  z-index: 100;
}

.minav2 {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.minav2 .logo {
  padding-top: 6px;
}

.menu {
  display: flex;
  list-style: none;
}
.menu .mimenu {
  padding: 0 17px;
  text-transform: uppercase;
}
.menu .enlaces strong {
  color: #285083;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

.input {
  display: flex;
  list-style: none;
}

.icono {
  list-style: none;
}

i {
  color: #285083;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

@media (max-width: 799px) {
  i {
    font-size: 20px;
    margin-left: -5px;
  }

  .menu {
    display: block;
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: -10px;
    margin-left: -5px;
  }

  .mimenu {
    padding: 0 12px;
  }

  .logo {
    margin-left: -48px;
    padding-top: 5px;
    padding-bottom: 0;
  }
}
@media (min-width: 800px) {
  .logo {
    margin-left: 0;
    width: 40%;
    height: 30%;
  }

  .menu {
    font-size: 12px;
    margin-left: -34%;
    display: block;
  }

  i {
    font-size: 20px;
    margin-left: -30%;
  }
}
@media (min-width: 1020px) {
  .logo {
    width: 40%;
    height: 30%;
  }

  .menu {
    display: flex;
    margin-left: -29%;
  }

  i {
    font-size: 30px;
    margin-left: -40%;
  }
}
@media (min-width: 1200px) {
  .menu {
    font-size: 16px;
  }
}
.section1 {
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(../img/fondocentrado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

section {
  width: 100%;
}

article {
  margin-bottom: 2em;
}

/* informacion 1 */
.informacion1 {
  width: 100%;
  margin-bottom: 3em;
}

.carP1 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: #999;
}

.carT1 {
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: 14px;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .carT1 {
    font-size: 11px;
  }

  .carP1 {
    font-size: 13px;
  }
}
/* /informacion 1*/
/*informacion 2*/
h3 {
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

.pCar {
  font-family: "Poppins", sans-serif;
  font-style: 100;
}

.ulCar2 {
  display: flex;
  list-style: none;
}

strong {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-style: bold;
  text-transform: capitalize;
  padding-right: 12px;
}

@media (max-width: 800px) {
  .pCar {
    font-size: 13px;
  }

  strong {
    font-size: 12px;
  }

  h3 {
    font-size: 17px;
  }
}
/* /informacion 2 */
/*carousel testimonios*/
.imgCarCen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCar {
  border-radius: 50%;
  width: 150px !important;
  height: 150px;
}

.pCarCen {
  margin: 3em;
  margin-left: 0;
}

@media (max-width: 480px) {
  .pCarCen {
    font-size: 10px;
    padding: 0 10px;
  }

  .imgCar {
    border-radius: 50%;
    width: 90px !important;
    height: 90px;
  }

  h5 {
    font-size: 9px;
  }

  .strong {
    font-size: 10px;
  }

  .ulCarText {
    margin-left: 3px;
    margin-right: 87px;
  }

  .imgCarCen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 37px;
  }
}
/*/carousel testimonios*/
/*instrumentos muj*/
p {
  font-family: "Poppins", sans-serif;
  color: #999;
}

h3, h4 {
  font-family: "Poppins", sans-serif;
  color: #777;
  text-transform: uppercase;
}

.titulo-delgado {
  font-family: "Poppins", sans-serif;
  color: #777;
  text-transform: uppercase;
  font-size: 1.7em;
}

.ver {
  margin-top: -3%;
}

@media (max-width: 799px) {
  i {
    font-size: 14px;
  }

  .ver {
    font-size: 8px;
    margin: 0 38px;
  }
}
/*/instrumentos muj*/
/*imagenes desordenadas*/
.iconos-desordenados {
  background-image: url(../img/fondocentrado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  align-items: center;
}

h6 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #999;
}

.pulgar, .iglesia, .msm, .agenda, .persona {
  box-shadow: 0px 5px 6px 0px #999;
  text-align: center;
  background: white;
  width: 100%;
}

@media (max-width: 799px) {
  .pulgar, .iglesia, .msm, .agenda, .persona {
    margin-bottom: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 1000px) {
  .pulgar, .iglesia, .msm, .agenda, .persona {
    width: 20%;
    margin: 5px 0;
  }

  .pulgar {
    transform: translate(15px, 270px);
  }

  .iglesia {
    transform: translate(200px, -120px);
  }

  .msm {
    transform: translate(480px, -230px);
  }

  .agenda {
    transform: translate(600px, -170px);
  }

  .persona {
    transform: translate(300px, -200px);
  }
}
@media (min-width: 1200px) {
  .agenda {
    transform: translate(700px, -180px);
  }

  .persona {
    transform: translate(340px, -240px);
  }

  .msm {
    transform: translate(500px, -270px);
  }

  .iglesia {
    transform: translate(180px, -150px);
  }
}
/*/imagenes desordenadas*/
/* informacion5*/
.fondo1 {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin-top: 3em;
  height: 100%;
}

.imginfo5 {
  border-radius: 7px;
}

/* /informacion5*/
/*tarjetas de informacion*/
#target {
  margin-bottom: 3em;
  margin-top: 3em;
}

@media (min-width: 825px) {
  #target {
    display: flex;
  }
}
.tarjeta {
  background: white;
  margin: 10px;
  font-size: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  /*width: 300px;*/
  height: 320px;
  border: 1px solid rgba(153, 153, 153, 0.3);
  border-radius: 8px;
}
.tarjeta:hover {
  transform: scale(1.3);
}

.imgtarj {
  margin: 1.3em;
}

.atrj {
  background: #285083;
  text-decoration: none;
  color: white;
  padding: 3px 40px;
  border-radius: 4px;
}
.atrj:hover {
  color: white;
  text-decoration: none;
  background: rgba(40, 80, 131, 0.9);
}

h5 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #777;
  font-size: 16px;
}

/*/tarjetas de informacion*/
/*informacion 6*/
.infor6 {
  height: 100%;
  margin-top: 7em;
  margin-bottom: 3em;
  background-image: url(../img/fondo2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

/*/informacion 6*/
html {
  scroll-behavior: smooth;
  transition: 4s;
}
html:hover {
  border-botton: none;
}

.antefooter1 {
  margin-bottom: 4px;
  padding: 0;
}

.porMaria {
  color: #285083;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-style: bold;
}

.pormaria {
  background: #dfe9f3;
  padding: 8px 10px;
}

#up {
  background: #285083;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  height: auto;
  padding: 0 10px;
}

@media (max-width: 799px) {
  #up {
    padding: 0 4px;
    font-size: 24px;
  }
}
/* carusel solo texto*/
.crousel-texto {
  margin-top: 2em;
}

.titulo-delgado {
  font-family: "Poppins", sans-serif;
  font-style: initial;
}

.ulCarText {
  display: flex;
  justify-content: center;
}

.aCarText {
  color: #444;
  font-family: "Poppins", sans-serif;
  font-style: black 900;
  padding: 0 12px;
}

@media (max-width: 799px) {
  .titulo-delgado {
    font-size: 15px;
  }
}
/* /carusel solo texto*/
@media (min-width: 1285px) {
  .imgIzq {
    margin-left: -3%;
    border-radius: 0 8px 8px 0;
  }

  .imgDer {
    /*margin-left: 2.4%;*/
  }
}
@media (min-width: 1000px) {
  .imgIzq {
    margin-left: -3%;
    border-radius: 0 8px 8px 0;
  }

  .imgDer {
    margin-left: 2%;
    border-radius: 8px 0 0 8px;
  }
}
/* iconos fixed*/
.iconosSociales {
  position: fixed;
  z-index: 10;
  top: 30%;
  right: 20px;
}

.iconoss {
  padding: 0;
}

#icons {
  width: 40px;
  margin-left: 5%;
}

.ico {
  padding: 0;
  margin-left: -21%;
}

#youtube, #facebook, #twitter {
  color: white;
  background: #285083;
  margin-left: 0;
  padding: 3px 6px 0px;
  border-radius: 50%;
}

#whatsapp {
  margin-left: 0;
  color: white;
  background: #81c86c;
  border-radius: 50%;
  padding: 3px 6px 0px;
}

.whatsapp {
  margin-top: 12px;
}

/* iconos fixed*/
ul li {
  list-style: none;
  color: white;
}

.a {
  font-family: "Poppins", sans-serif;
  font-style: unset;
  color: #285083;
}
.a:hover {
  color: #285083;
}

@media (max-width: 799px) {
  .owl-carousel.owl-loaded.primero {
    margin-left: -8%;
    margin-top: 2%;
  }

  .owl-carousel.primero .owl-nav {
    font: caption;
  }

  .owl-carousel.primero .owl-nav button.owl-prev {
    background: #054b6f;
    color: white;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
  }

  .owl-carousel.primero .owl-nav button.owl-next {
    background: #054b6f;
    color: white;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  .owl-carousel.owl-loaded.primero {
    margin: 0 15px;
    margin-top: 2%;
  }

  .owl-carousel.primero .owl-nav button.owl-prev {
    background: #054b6f;
    color: white;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    margin-top: 1em;
    margin: 0 20px 0 0;
    padding: -3px !important;
  }

  .owl-carousel.primero .owl-nav button.owl-next {
    background: #054b6f;
    color: white;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    margin-top: 1em;
  }
}
/* /carousel 1 */
/*carousel 2 y 3*/
.owl-carousel.segundo {
  margin: 1em 0;
}

@media (max-width: 799px) {
  .owl-carousel.segundo .owl-nav button.owl-prev {
    display: none;
  }

  .owl-carousel.segundo .owl-nav button.owl-next {
    display: none;
  }

  .owl-carousel.segundo button.owl-dot {
    color: #777;
    float: center;
    background: #777;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px;
  }
}
@media (min-width: 800px) {
  .owl-carousel.segundo .owl-nav button.owl-prev {
    display: none;
  }

  .owl-carousel.segundo .owl-nav button.owl-next {
    display: none;
  }

  .owl-carousel.segundo button.owl-dot {
    color: #777;
    background: #777;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 5px;
  }
}
/*/carousel 2 y 3*/
/*carousel testimonios con imagenes*/
.owl-carousel.carImg {
  margin-bottom: 3em;
}

.owl-carousel.carImg .owl-nav {
  font: caption;
  transform: translateY(-130px);
}

.owl-carousel.carImg .owl-nav button.owl-next {
  margin-left: 87%;
  background: #054b6f;
  color: white;
}

.owl-carousel.carImg .owl-nav button.owl-prev {
  background: #054b6f;
  color: white;
}

.owl-carousel.carImg button.owl-dot {
  color: #777;
  background: #777;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 4px;
}

@media (min-width: 720px) {
  .owl-carousel.carImg .owl-nav button.owl-next {
    width: 20px;
    border-radius: 50%;
  }

  .owl-carousel.carImg .owl-nav button.owl-prev {
    width: 20px;
    border-radius: 50%;
  }
}
@media (max-width: 719px) {
  .owl-carousel.carImg .owl-nav button.owl-next {
    display: none;
  }

  .owl-carousel.carImg .owl-nav button.owl-prev {
    display: none;
  }
}
/*/carousel testimonios con imagenes*/
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  margin-right: 2px;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 4px solid #fffaf4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

@media (max-width: 480px) {
  strong {
    font-size: 10px;
    padding: 0;
  }
}