/* Style the tab */
.tab {
  overflow: hidden;

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  margin-right: 2px;
}


/* Create an active/current tablink class */
.tab button.active {
  border-bottom:4px solid #fffaf4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}


@media(max-width: 480px){
  strong{
    font-size: 10px;
    padding: 0;
  }
}




