@media(max-width: 799px){
	.owl-carousel.owl-loaded.primero{
	margin-left: -8%;
	margin-top: 2%;
} 
.owl-carousel.primero .owl-nav{
	font:caption;
}
.owl-carousel.primero .owl-nav button.owl-prev{
	background: #054b6f;
	color:white;
	width: 30px;
	border-radius: 50%;
	font-size: 20px;
}
.owl-carousel.primero .owl-nav button.owl-next{
	background: #054b6f;
	color:white;
	width: 30px;
	border-radius: 50%;
	font-size: 20px;
	
}
}

@media(min-width: 800px){
	.owl-carousel.owl-loaded.primero{
	margin:0 15px;
	margin-top: 2%;
} 
.owl-carousel.primero .owl-nav button.owl-prev{
	background: #054b6f;
	color:white;
	width: 40px;
	border-radius: 50%;
	font-size: 30px;
	margin-top: 1em;
	margin: 0 20px 0 0;
	padding: -3px !important;
}
.owl-carousel.primero .owl-nav button.owl-next{
	background: #054b6f;
	color:white;
	width: 40px;
	border-radius: 50%;
	font-size: 30px;
	margin-top: 1em;
}
}

/* /carousel 1 */

/*carousel 2 y 3*/

.owl-carousel.segundo{
	margin:1em 0;
}
@media(max-width: 799px){
	.owl-carousel.segundo .owl-nav button.owl-prev{
		display: none;
	}
	.owl-carousel.segundo .owl-nav button.owl-next{
			display: none;
		}

	.owl-carousel.segundo button.owl-dot{
		color:#777;
		float: center;
		background: #777;
		border-radius:50%;
		width: 12px;
		height: 12px;
		margin: 4px;

	}
}

@media(min-width: 800px){
	.owl-carousel.segundo .owl-nav button.owl-prev{
		display: none;
	}
	.owl-carousel.segundo .owl-nav button.owl-next{
			display: none;
		}

	.owl-carousel.segundo button.owl-dot{
		color:#777;
		background: #777;
		border-radius:50%;
		width: 12px;
		height: 12px;
		margin: 5px;
	}
}

/*/carousel 2 y 3*/

/*carousel testimonios con imagenes*/

.owl-carousel.carImg{
	margin-bottom: 3em
}

.owl-carousel.carImg .owl-nav{
	font:caption;
	transform: translateY(-130px);
}

.owl-carousel.carImg .owl-nav button.owl-next{
	margin-left: 87%;
	background: #054b6f;
	color: white;


}
.owl-carousel.carImg .owl-nav button.owl-prev{
	background: #054b6f;
	color: white;

}

.owl-carousel.carImg button.owl-dot{
		color:#777;
		background: #777;
		border-radius:50%;
		width: 12px;
		height: 12px;
		margin: 4px;

	}

@media(min-width: 720px){
	.owl-carousel.carImg .owl-nav button.owl-next{
		width: 20px;
		border-radius: 50%;
	}
	.owl-carousel.carImg .owl-nav button.owl-prev{
		width: 20px;
		border-radius: 50%;
	}
}
@media(max-width: 719px){
	.owl-carousel.carImg .owl-nav button.owl-next{
		display: none;
	}
	.owl-carousel.carImg .owl-nav button.owl-prev{
		display: none;
	}
}


/*/carousel testimonios con imagenes*/